#branding img{
  position: fixed;
  top: -0px;
  left: 10px;
  z-index: 1000;
  height:6%;
}
header h2#tagline {
  font-size: 2em;
  line-height: 1.5em;
  margin: 40px 0 0 0;
  text-align:center;
}
header h2#tagline a{
	color:#119499;
}


section.content p {
  line-height: 2em;
}

