@charset "UTF-8";
/* CSS reset */

.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}

html, body {
	padding: 0;
	margin: 0;
	}
	
body {
  background: #f2f2f2 url(../images/bg.png) repeat;
  margin: 0 auto;
  color: black;
  text-align: center;
  font-family: arial rounded MT bold, Georgia, "Times New Roman", Times, serif; 
  font-weight: 300 !important;
  font-size: 10px;
  position: relative;
  overflow: auto;
  max-width: 1300px;
}

a:link,
a:visited {
  color: #fff;
  text-decoration: none;
}
a:hover,
a:active {
  color: #119499;
  text-decoration: none;
  outline: none;
}
a:active {
  color: #ff6000;
}
header {
  padding: 20px 0;
  position: relative;
}
#branding {
  text-align:left;
}

header h2#tagline {
  text-align: right;
  font-size: 1.3em;
  font-weight: normal;
  text-transform: uppercase;
  color: #444;
}

header nav {
  background-color: #f8f8f8;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  font-family: Arial,Helvetica,sans-serif;
  font-size: 1.5em;
}
header ul#menu {
  margin: 0 !important;
  padding: 0 !important;
}


section.content,
footer {
  padding: 10px 10px;
  background: #FFF;
  font-size: 1.5em;
  line-height: 1.5em;
  text-align: left;
  -webkit-box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.2);
}
footer {
  margin:0 auto;
}
/* Dimension (or rather, just the Screen Width) display */
#dimensions {
  position: fixed;
  right: 10px;
  bottom: 0px;
  background: #000;
  font-size: 13px;
  color: #FFF;
  padding: 10px;
}


	
a img, :link img, :visited img {
	border: 0;
	} 
	
#columns{
	-moz-column-count:3;
	border:none;
	width:100%;
	margin:0px auto;
	clear:both;
	font-size:1em;
	
}

.button{
	color:#FFFFFF; 
	background-color:#119499; 
	padding:10px;
	text-decoration:none;
	

}
.button:hover{
	color:#119499; 
	background-color:#ffffff; 
	border-color:#56AED4;
}



.one, .two, .three{
	width:95%; 
	height:39.21569% ;
	font-size:100%;
	display:inline-block;
	margin:0;
	padding:10px;
	background:#fdaa32;
	border-radius: 5px;
	text-align:left;
	line-height:25px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);

}

#columns p{
	width:100%;
	max-height:75%;
}





#copyright{
	background:	#999;
	color:#fff;
	height:4.375em;
	border-top:4px solid #FDAA32;
	text-align:center;
	padding:15px 0px;
	line-height:35px
}

#copyright a{
color:#fff;
text-decoration:none;
}

#copyright a:hover{
	text-decoration:underline;
}

.wrapper{
	border-top: 5px solid #FDAA32;
	margin:0 auto;
	background-color:#f5f5f5;
	clear:both;
}

.contact_form ul {
    width:750px;
    list-style-type:none;
	list-style-position:outside;
	margin:0px;
	padding:0px;
}
.contact_form li{
	padding:5px 0px; 
	position:relative;
} 

.contact_form h2 {
	margin:0;
	display: inline;
}
.required_notification {
	color:#d45252; 
	margin:5px 0 0 0; 
	display:inline;
	float:right;
}

.contact_form label {
	width:150px;
	margin-top: 3px;
	display:inline-block;
	float:left;
	padding:3px;
}
.contact_form input {
	height:20px; 
	width:220px; 
	padding:5px 8px;
}
.contact_form textarea {padding:8px; width:300px;}
.contact_form button {margin-left:156px;}

	.form input:focus {
		background: #fff; 
		border:1px solid #555; 
		box-shadow: 0 0 3px #aaa; 
		padding-right:70px;
	}

.contact_form input:required, .contact_form textarea:required {
	background: #fff url(../images/required.png) no-repeat 98% center;
}
.contact_form input:required:valid, .contact_form textarea:required:valid {
	background: #fff url(../images/go.png) no-repeat 98% center;
	box-shadow: 0 0 5px #5cd053;
	border-color: #28921f;
}
.contact_form input:focus:invalid, .contact_form textarea:focus:invalid {
	background: #fff  url(../images/no_go.png) no-repeat 98% center;
	box-shadow: 0 0 5px #d45252;
	border-color: #b03535
}

.form_hint {
	background: #d45252;
	border-radius: 3px 3px 3px 3px;
	color: white;
	margin-left:8px;
	padding: 1px 6px;
	z-index: 999; 
	position: absolute; 
	display: none;
}
.form_hint::before {
	content: "\25C0";
	color:#d45252;
	position: absolute;
	top:1px;
	left:-6px;
}
	
button.submit {
	background:#119499;
	border: 1px solid #999;
	border-bottom: 1px solid #999;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	color: white;
	font-weight: bold;
	padding: 6px 20px;
	text-align: center;
}
button.submit:hover {
	opacity:.85;
	cursor: pointer; 
}
button.submit:active {
	border: 1px solid #009186;
	box-shadow: 0 0 10px 5px #009186 inset; 
	-webkit-box-shadow:0 0 10px 5px #009186 inset ;
	-moz-box-shadow: 0 0 10px 5px #009186 inset;
	-ms-box-shadow: 0 0 10px 5px #009186 inset;
	-o-box-shadow: 0 0 10px 5px #009186 inset;
	
}




/*media queries*/

@media only screen and (min-width:768px) and (max-width: 959px) {
	#slider{width:100%; margin-top:29.34343%;}
	
}


@media only screen and (min-width:480px) and (max-width: 767px) {
		.logo {display:none;}
		#slider{display:none;}

}


@media only screen and (min-width:479px) and (max-width:766px) {
	
		.logo {display:none;}
		#slider{display:none;}
}


