@charset "UTF-8";
/* CSS reset */

.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}

html, body {
	padding: 0;
	margin: 0;
	}
	
body {
  background: #f2f2f2 url(../images/bg.png) repeat;
  margin: 0 auto;
  color: black;
  text-align: center;
  font-family: arial rounded MT bold, Georgia, "Times New Roman", Times, serif; 
  font-weight: 300 !important;
  font-size: 10px;
  position: relative;
  overflow: auto;
  max-width: 1300px;
}

a:link,
a:visited {
  color: #fdaa32;
  text-decoration: none;
}
a:hover,
a:active {
  color: #119499;
  text-decoration: none;
  outline: none;
}
a:active {
  color: #ff6000;
}
header {
  padding: 20px 0;
  position: relative;
}
#branding {
  text-align:left;
}

header h2#tagline {
  text-align: right;
  font-size: 1.6em;
  font-weight: normal;
  text-transform: uppercase;
  color: #444;
}

header nav {
  background-color: #f8f8f8;
  -webkit-box-shadow: 0 1px 3px #999;
  -moz-box-shadow: 0 1px 3px #999;
  box-shadow: 0 1px 3px #999;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 1.5em;
}
header ul#menu {
  margin: 0 !important;
  padding: 0 !important;
}


section.content,
footer {
  padding: 10px 10px;
  background: #FFF;
  font-size: 1.5em;
  text-align: left;
  -webkit-box-shadow: 0 0 3px 1px #CCC;
  -moz-box-shadow: 0 0 3px 1px #CCC;
  box-shadow: 0 0 3px 1px #CCC;
}
footer {
  margin:0 auto;
}
/* Dimension (or rather, just the Screen Width) display */
#dimensions {
  position: fixed;
  right: 10px;
  bottom: 0px;
  background: #7f7f7f;
  font-size: 13px;
  color: #FFF;
  opacity:0.7;
  padding: 10px;
}


	
a img, :link img, :visited img {
	border: 0;
	} 
	
#columns{
	-moz-column-count:3;
	-moz-column-gap: 30px;
	-webkit-column-count: 3;
     column-count: 3;
	width:95%;
	margin:0px auto;
	clear:both;
	 
}
#columns a{
	color:#fff;
}

#columns a:hover{
	color:#119499;
	background-color:#fff;
}


.button{
	color:#fff; 
	background-color:#119499; 
	padding:10px;
	text-decoration:none;
	

}
.button:hover{
	color:#119499; 
	background-color:#ffffff; 
	border-color:#56AED4;
}



.one, .two, .three{
	width:100%; 
	height:39.21569% ;
	font-size:100%;
	display:inline-block;
	padding:10px;
	background:#fdaa32;
	text-align:left;
	line-height:25px;
	box-shadow: 0 1px 3px #CCC;

}

#columns h2{
	background:#000;
	color:#fff;
	height:40px;
	margin-bottom:-20px;
	padding:10px;
	text-align:center;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	width:100%;
	
}


#columns p{
	width:100%;
	max-height:50%;
	font-size:13px;
	line-height:20px;
}


.about h3{
	color:#119499;
}


#copyright{
	background:	#119499;
	color:#fff;
	height:4.375em;
	border-top:4px solid #FDAA32;
	text-align:center;
	padding:15px 15px;
	line-height:35px
}

#copyright a{
color:#fff;
text-decoration:none;
}

#copyright a:hover{
	text-decoration:underline;
}

.wrapper{
	border-top: 5px solid #FDAA32;
	margin:0 auto;
	background-color:#f5f5f5;
	clear:both;
}

.contact_form{
	float:left;
	width:75%;
	margin-left:60px;
}

.contact_form ul {
    width:100%;
    list-style-type:none;
	list-style-position:outside;
	margin:0px;
	padding:0px;
}
.contact_form li{
	padding:5px 0px; 
	position:relative;
} 

.contact_form h2 {
	margin:0;
	display: inline;
}
.required_notification {
	color:#d45252; 
	margin:5px 0 0 0; 
	display:inline;
	float:right;
}


.contact_form label {
	width:15.96057%;
	margin-top: 3px;
	display:inline-block;
	float:left;
	padding:3px;
}
.contact_form input {
	height:20px; 
	width:47.35358%; 
	padding:5px 8px;
}

.contact_form textarea {padding:8px; width:300px;}
.contact_form button {margin-left:156px;}

	.form input:focus {
		background: #fff; 
		border:1px solid #555; 
		box-shadow: 0 0 3px #aaa; 
		padding-right:70px;
	}

.contact_form input:required:valid, .contact_form textarea:required:valid {
	background: #fff url(../images/go.png) no-repeat 98% center;
	box-shadow: 0 0 5px #5cd053;
	border-color: #28921f;
}
.contact_form input:focus:invalid, .contact_form textarea:focus:invalid {
	background: #fff  url(../images/no_go.png) no-repeat 98% center;
	box-shadow: 0 0 5px #d45252;
	border-color: #b03535
}

.form_hint {
	background: #d45252;
	border-radius: 3px 3px 3px 3px;
	color: white;
	margin-left:8px;
	padding: 1px 6px;
	z-index: 999; 
	position: absolute; 
	display: none;
}
.form_hint::before {
	content: "\25C0";
	color:#d45252;
	position: absolute;
	top:1px;
	left:-6px;
}
	
button.submit {
	background:#119499;
	border: 1px solid #999;
	border-bottom: 1px solid #999;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	color: white;
	font-weight: bold;
	padding: 6px 20px;
	text-align: center;
}
button.submit:hover {
	opacity:.85;
	cursor: pointer; 
	color:#119499;
	background:#fff;
}
button.submit:active {
	border: 1px solid #009186;
	box-shadow: 0 0 10px 5px #009186 inset; 
	-webkit-box-shadow:0 0 10px 5px #009186 inset ;
	-moz-box-shadow: 0 0 10px 5px #009186 inset;
	-ms-box-shadow: 0 0 10px 5px #009186 inset;
	-o-box-shadow: 0 0 10px 5px #009186 inset;
	
}

.form{
  padding: 10px 10px;
  font-size: 1.5em;
  line-height: 1.5em;
  text-align: left;
  -webkit-box-shadow: 0 0 3px 1px rgba#CCC;
  -moz-box-shadow: 0 0 3px 1px #CCC;
  box-shadow: 0 0 3px 1px #CCC;
  margin:20px 0;
  width:50%;
  margin:0 auto;
  margin-top:10px;
  font-size:14px;
  list-style-type:none;
  list-style-position:outside;
  
}

.form ul{
	list-style-type:none;
	
}

.form li{
	padding:5px 0px; 
	position:relative;
} 

.form h2 {
	margin:0;
	display: inline;
}
.required_notification {
	color:#d45252; 
	margin:5px 0 0 0; 
	display:inline;
	float:right;
}


.form label {
	width:15.96057%;
	margin-top: 3px;
	display:inline-block;
	float:left;
	padding:3px;
}
.form input {
	height:20px; 
	width:47.35358%; 
	padding:5px 8px;
}

.form textarea {padding:8px; width:300px;}
.form button {margin-left:156px;}

	.form input:focus {
		background: #fff; 
		border:1px solid #555; 
		box-shadow: 0 0 3px #aaa; 
		padding-right:70px;
	}

.form input:required:valid, .contact_form textarea:required:valid {
	background: #fff url(../images/go.png) no-repeat 98% center;
	box-shadow: 0 0 5px #5cd053;
	border-color: #28921f;
}
.form input:focus:invalid, .contact_form textarea:focus:invalid {
	background: #fff  url(../images/no_go.png) no-repeat 98% center;
	box-shadow: 0 0 5px #d45252;
	border-color: #b03535
}


#map{
	 margin:20px 0;
	float:right;
	padding:10px 10px;
  background:#fdaa32;
  -webkit-box-shadow: 0 0 3px 1px #CCC;
  -moz-box-shadow: 0 0 3px 1px #CCC;
  box-shadow: 0 0 3px 1px #CCC;
  width:46%;
  margin-top:10px;
  text-align:center;
  
}

#locate{
	margin-left:60px;	
}

.map{
 margin:20px 0;
	float:right;
	padding:10px 10px;
  -webkit-box-shadow: 0 0 3px 1px #CCC;
  -moz-box-shadow: 0 0 3px 1px #CCC;
  box-shadow: 0 0 3px 1px #CCC;
  width:25%;
  margin-top:10px;
  text-align:center;
  margin-top:-490px;
  margin-right:60px;
  }

.foot_nav li{
	float:right;
	display:block;
	width:100px;
	text-align:center;
	
}

td img{
	
	border: solid 1px #ccc;
	padding:10px;
	
}

td a{
	color:#fdaa32;
	
}

td p{
	text-align:left;
	margin: -90px auto;
	font-size:16px;
	width:100%;
	padding:10px;
}

.table {
	margin:0px;padding:0px;
	width:100%;
	border:1px solid #cccccc;
	
	-moz-border-radius-bottomleft:4px;
	-webkit-border-bottom-left-radius:4px;
	border-bottom-left-radius:4px;
	
	-moz-border-radius-bottomright:4px;
	-webkit-border-bottom-right-radius:4px;
	border-bottom-right-radius:4px;
	
	-moz-border-radius-topright:4px;
	-webkit-border-top-right-radius:4px;
	border-top-right-radius:4px;
	
	-moz-border-radius-topleft:4px;
	-webkit-border-top-left-radius:4px;
	border-top-left-radius:4px;
}
.table table{
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}

.table tr:nth-child(odd){ 
background-color:#fdaa32; 
}
.table tr:nth-child(even){ 
background-color:#ffffff; 
}

.table td{
	vertical-align:middle;
	border:1px solid #cccccc;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:25px;
	font-size:14px;
	font-family:Arial;
	font-weight:normal;
	color:#000000;
}
.table tr:first-child td{
background:-o-linear-gradient(bottom, #fdaa32 5%, #fdaa32 100%);	
background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fdaa32), color-stop(1, #fdaa32) );
background:-moz-linear-gradient( center top, #fdaa32 5%, #fdaa32 100% );
background: -o-linear-gradient(top,#fdaa32,fdaa32);
	background-color:#fdaa32;
	border:0px solid #cccccc;
	text-align:left;
	border-width:0px 0px 1px 1px;
	font-size:14px;
	font-weight:bold;
	color:#000000;
}

.table a{
	color:#fff;
	width:auto;
}

/*media queries*/

@media only screen and (min-width:768px) and (max-width: 959px) {
	#slider{width:100%;}
	.columns{display:block;}
	
}


@media only screen and (min-width:480px) and (max-width: 767px) {
	#slider{width:100%;}

}


@media only screen and (min-width:479px) and (max-width:766px) {
		#slider{width:100%;}

}


